
.state {
  position: absolute;
  inset: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  opacity: 0;

  background-color: rgb(0 0 0);
}

:hover > .state {
  opacity: 8%;
}

:is(:active > .state, :focus-visible > .state) {
  opacity: 10%;
}
