@use "globals";

$section-sizes: (
  xs: (tb: globals.$SIZE-LG,     rl: globals.$SIZE-2XL),
  sm: (tb: globals.$SIZE-XL,     rl: globals.$SIZE-2XL),
  md: (tb: globals.$SIZE-2XL,    rl: globals.$SIZE-2XL),
  lg: (tb: globals.$SIZE-3XL,    rl: globals.$SIZE-2XL),
  xl: (tb: globals.$SIZE-4XL,    rl: globals.$SIZE-2XL)
);

@each $alias, $sizes in $section-sizes {
  .section__#{$alias} {
    padding: globals.round-to(map-get($sizes, tb)) globals.round-to(map-get($sizes, rl));
  }
}

@media screen and (max-width: 61.9375rem) {
  .section__xs,
  .section__sm {
    padding-right: globals.round-to(globals.$SIZE-LG);
    padding-left:  globals.round-to(globals.$SIZE-LG);
  }

  $mobile-sizes: (
    md: (tb: globals.$SIZE-XL, rl: globals.$SIZE-LG),
    lg: (tb: globals.$SIZE-2XL, rl: globals.$SIZE-LG),
    xl: (tb: globals.$SIZE-3XL, rl: globals.$SIZE-LG * globals.$MAJOR-HALF)
  );

  @each $alias, $sizes in $mobile-sizes {
    .section__#{$alias} {
      padding: globals.round-to(map-get($sizes, tb)) globals.round-to(map-get($sizes, rl));
    }
  }
}
