@import "globals.css";

/*

Okay, this is a big one. This file is a collection of all the 
background colors that are used in the design system.

Each utility class is named according to the following pattern: bg-{light|dark}__{color}.

The color names are based on variables from the globals.css file. 
Variables are set on the :root element, so they're accessible everywhere.

Each light color variable has a corresponding dark color variable, and vice versa.

Therefore, you should only design for one system or the other. 

The global color-swapping function will automatically swap the color scheme 
based on the user's device preference.

Background Color utility classes also set the optimal text color for child elements,
if there are any.

*/


.bg-light__primary {
  background-color: var(--light__primary);
  color: var(--light__onprimary);
}

.bg-light__onprimary {
  background-color: var(--light__onprimary);
  color: var(--light__primary);
}

.bg-light__primarycontainer {
  background-color: var(--light__primarycontainer);
  color: var(--light__onprimarycontainer);
}

.bg-light__onprimarycontainer {
  background-color: var(--light__onprimarycontainer);
  color: var(--light__primarycontainer);
}

.bg-light__secondary {
  background-color: var(--light__secondary);
  color: var(--light__onsecondary);
}

.bg-light__onsecondary {
  background-color: var(--light__onsecondary);
  color: var(--light__secondary);
}

.bg-light__secondarycontainer {
  background-color: var(--light__secondarycontainer);
  color: var(--light__onsecondarycontainer);
}

.bg-light__onsecondarycontainer {
  background-color: var(--light__onsecondarycontainer);
  color: var(--light__secondarycontainer);
}

.bg-light__tertiary {
  background-color: var(--light__tertiary);
  color: var(--light__ontertiary);
}

.bg-light__ontertiary {
  background-color: var(--light__ontertiary);
  color: var(--light__tertiary);
}

.bg-light__tertiarycontainer {
  background-color: var(--light__tertiarycontainer);
  color: var(--light__ontertiarycontainer);
}

.bg-light__ontertiarycontainer {
  background-color: var(--light__ontertiarycontainer);
  color: var(--light__tertiarycontainer);
}

.bg-light__error {
  background-color: var(--light__error);
  color: var(--light__onerror);
}

.bg-light__onerror {
  background-color: var(--light__onerror);
  color: var(--light__error);
}

.bg-light__errorcontainer {
  background-color: var(--light__errorcontainer);
  color: var(--light__onerrorcontainer);
}

.bg-light__onerrorcontainer {
  background-color: var(--light__onerrorcontainer);
  color: var(--light__errorcontainer);
}

.bg-light__background {
  background-color: var(--light__background);
  color: var(--light__onbackground);
}

.bg-light__onbackground {
  background-color: var(--light__onbackground);
  color: var(--light__background);
}

.bg-light__surface {
  background-color: var(--light__surface);
  color: var(--light__onsurface);
}

.bg-light__onsurface {
  background-color: var(--light__onsurface);
  color: var(--light__surface);
}

.bg-light__surfacevariant {
  background-color: var(--light__surfacevariant);
  color: var(--light__onsurfacevariant);
}

.bg-light__onsurfacevariant {
  background-color: var(--light__onsurfacevariant);
  color: var(--light__surfacevariant);
}

.bg-light__outline {
  background-color: var(--light__outline);
  color: var(--light__surface);
}

.bg-light__outlinevariant {
  background-color: var(--light__outlinevariant);
  color: var(--light__onsurface);
}

.bg-light__shadow {
  background-color: var(--light__shadow);
  color: var(--light__surface);
}

.bg-light__scrim {
  background-color: var(--light__scrim);
  color: var(--light__surface);
}

.bg-light__inversesurface {
  background-color: var(--light__inversesurface);
  color: var(--light__inverseonsurface);
}

.bg-light__inverseonsurface {
  background-color: var(--light__inverseonsurface);
  color: var(--light__inversesurface);
}

.bg-light__inverseprimary {
  background-color: var(--light__inverseprimary);
  color: var(--light__onprimarycontainer);
}

.bg-light__success {
  background-color: var(--light__success);
  color: var(--light__onsuccess);
}

.bg-light__successcontainer {
  background-color: var(--light__successcontainer);
  color: var(--light__onsuccesscontainer);
}

.bg-light__onsuccess {
  background-color: var(--light__onsuccess);
  color: var(--light__success);
}

.bg-light__onsuccesscontainer {
  background-color: var(--light__onsuccesscontainer);
  color: var(--light__successcontainer);
}

.bg-light__warning {
  background-color: var(--light__warning);
  color: var(--light__onwarning);
}

.bg-light__warningcontainer {
  background-color: var(--light__warningcontainer);
  color: var(--light__onwarningcontainer);
}

.bg-light__onwarning {
  background-color: var(--light__onwarning);
  color: var(--light__warning);
}

.bg-light__onwarningcontainer {
  background-color: var(--light__onwarningcontainer);
  color: var(--light__warningcontainer);
}

.bg-light__info {
  background-color: var(--light__info);
  color: var(--light__oninfo);
}

.bg-light__infocontainer {
  background-color: var(--light__infocontainer);
  color: var(--light__oninfocontainer);
}

.bg-light__oninfo {
  background-color: var(--light__oninfo);
  color: var(--light__info);
}

.bg-light__oninfocontainer {
  background-color: var(--light__oninfocontainer);
  color: var(--light__infocontainer);
}

.bg-light__primaryfixed {
  background-color: var(--light__primaryfixed);
  color: var(--light__onprimaryfixed);
}

.bg-light__primaryfixeddim {
  background-color: var(--light__primaryfixeddim);
  color: var(--light__onprimaryfixedvariant);
}

.bg-light__onprimaryfixed {
  background-color: var(--light__onprimaryfixed);
  color: var(--light__primaryfixed);
}

.bg-light__onprimaryfixedvariant {
  background-color: var(--light__onprimaryfixedvariant);
  color: var(--light__primaryfixed);
}

.bg-light__secondaryfixed {
  background-color: var(--light__secondaryfixed);
  color: var(--light__onsecondaryfixed);
}

.bg-light__secondaryfixeddim {
  background-color: var(--light__secondaryfixeddim);
  color: var(--light__onsecondaryfixedvariant);
}

.bg-light__onsecondaryfixed {
  background-color: var(--light__onsecondaryfixed);
  color: var(--light__secondaryfixed);
}

.bg-light__onsecondaryfixedvariant {
  background-color: var(--light__onsecondaryfixedvariant);
  color: var(--light__secondaryfixed);
}

.bg-light__tertiaryfixed {
  background-color: var(--light__tertiaryfixed);
  color: var(--light__ontertiaryfixed);
}

.bg-light__tertiaryfixeddim {
  background-color: var(--light__tertiaryfixeddim);
  color: var(--light__ontertiaryfixedvariant);
}

.bg-light__ontertiaryfixed {
  background-color: var(--light__ontertiaryfixed);
  color: var(--light__tertiaryfixed);
}

.bg-light__ontertiaryfixedvariant {
  background-color: var(--light__ontertiaryfixedvariant);
  color: var(--light__tertiaryfixed);
}

.bg-light__surfacedim {
  background-color: var(--light__surfacedim);
  color: var(--light__onsurface);
}

.bg-light__surfacebright {
  background-color: var(--light__surfacebright);
  color: var(--light__onsurface);
}

.bg-light__surfacecontainerlowest {
  background-color: var(--light__surfacecontainerlowest);
  color: var(--light__onsurface);
}

.bg-light__surfacecontainerlow {
  background-color: var(--light__surfacecontainerlow);
  color: var(--light__onsurface);
}

.bg-light__surfacecontainer {
  background-color: var(--light__surfacecontainer);
  color: var(--light__onsurface);
}

.bg-light__surfacecontainerhigh {
  background-color: var(--light__surfacecontainerhigh);
  color: var(--light__onsurface);
}

.bg-light__surfacecontainerhighest {
  background-color: var(--light__surfacecontainerhighest);
  color: var(--light__onsurface);
}

.bg-dark__primary {
  background-color: var(--dark__primary);
  color: var(--dark__onprimary);
}

.bg-dark__onprimary {
  background-color: var(--dark__onprimary);
  color: var(--dark__primary);
}

.bg-dark__primarycontainer {
  background-color: var(--dark__primarycontainer);
  color: var(--dark__onprimarycontainer);
}

.bg-dark__onprimarycontainer {
  background-color: var(--dark__onprimarycontainer);
  color: var(--dark__primarycontainer);
}

.bg-dark__secondary {
  background-color: var(--dark__secondary);
  color: var(--dark__onsecondary);
}

.bg-dark__onsecondary {
  background-color: var(--dark__onsecondary);
  color: var(--dark__secondary);
}

.bg-dark__secondarycontainer {
  background-color: var(--dark__secondarycontainer);
  color: var(--dark__onsecondarycontainer);
}

.bg-dark__onsecondarycontainer {
  background-color: var(--dark__onsecondarycontainer);
  color: var(--dark__secondarycontainer);
}

.bg-dark__tertiary {
  background-color: var(--dark__tertiary);
  color: var(--dark__ontertiary);
}

.bg-dark__ontertiary {
  background-color: var(--dark__ontertiary);
  color: var(--dark__tertiary);
}

.bg-dark__tertiarycontainer {
  background-color: var(--dark__tertiarycontainer);
  color: var(--dark__ontertiarycontainer);
}

.bg-dark__ontertiarycontainer {
  background-color: var(--dark__ontertiarycontainer);
  color: var(--dark__tertiarycontainer);
}

.bg-dark__error {
  background-color: var(--dark__error);
  color: var(--dark__onerror);
}

.bg-dark__onerror {
  background-color: var(--dark__onerror);
  color: var(--dark__error);
}

.bg-dark__errorcontainer {
  background-color: var(--dark__errorcontainer);
  color: var(--dark__onerrorcontainer);
}

.bg-dark__onerrorcontainer {
  background-color: var(--dark__onerrorcontainer);
  color: var(--dark__errorcontainer);
}

.bg-dark__background {
  background-color: var(--dark__background);
  color: var(--dark__onbackground);
}

.bg-dark__onbackground {
  background-color: var(--dark__onbackground);
  color: var(--dark__background);
}

.bg-dark__surface {
  background-color: var(--dark__surface);
  color: var(--dark__onsurface);
}

.bg-dark__onsurface {
  background-color: var(--dark__onsurface);
  color: var(--dark__surface);
}

.bg-dark__surfacevariant {
  background-color: var(--dark__surfacevariant);
  color: var(--dark__onsurfacevariant);
}

.bg-dark__onsurfacevariant {
  background-color: var(--dark__onsurfacevariant);
  color: var(--dark__surfacevariant);
}

.bg-dark__outline {
  background-color: var(--dark__outline);
  color: var(--dark__onsurface);
}

.bg-dark__outlinevariant {
  background-color: var(--dark__outlinevariant);
  color: var(--dark__onsurface);
}

.bg-dark__shadow {
  background-color: var(--dark__shadow);
  color: var(--dark__inversesurface);
}

.bg-dark__scrim {
  background-color: var(--dark__scrim);
  color: var(--dark__inversesurface);
}

.bg-dark__inversesurface {
  background-color: var(--dark__inversesurface);
  color: var(--dark__inverseonsurface);
}

.bg-dark__inverseonsurface {
  background-color: var(--dark__inverseonsurface);
  color: var(--dark__inversesurface);
}

.bg-dark__inverseprimary {
  background-color: var(--dark__inverseprimary);
  color: var(--dark__onprimarycontainer);
}

.bg-dark__success {
  background-color: var(--dark__success);
  color: var(--dark__onsuccess);
}

.bg-dark__successcontainer {
  background-color: var(--dark__successcontainer);
  color: var(--dark__onsuccesscontainer);
}

.bg-dark__onsuccess {
  background-color: var(--dark__onsuccess);
  color: var(--dark__success);
}

.bg-dark__onsuccesscontainer {
  background-color: var(--dark__onsuccesscontainer);
  color: var(--dark__successcontainer);
}

.bg-dark__warning {
  background-color: var(--dark__warning);
  color: var(--dark__onwarning);
}

.bg-dark__warningcontainer {
  background-color: var(--dark__warningcontainer);
  color: var(--dark__onwarningcontainer);
}

.bg-dark__onwarning {
  background-color: var(--dark__onwarning);
  color: var(--dark__warning);
}

.bg-dark__onwarningcontainer {
  background-color: var(--dark__onwarningcontainer);
  color: var(--dark__warningcontainer);
}

.bg-dark__info {
  background-color: var(--dark__info);
  color: var(--dark__oninfo);
}

.bg-dark__infocontainer {
  background-color: var(--dark__infocontainer);
  color: var(--dark__oninfocontainer);
}

.bg-dark__oninfo {
  background-color: var(--dark__oninfo);
  color: var(--dark__info);
}

.bg-dark__oninfocontainer {
  background-color: var(--dark__oninfocontainer);
  color: var(--dark__infocontainer);
}

.util-grid-filler.for-display {
  flex: 1;
  margin-bottom: 1em;
  padding: 1em;
}

.bg-dark__primaryfixed {
  background-color: var(--dark__primaryfixed);
  color: var(--dark__onprimaryfixed);
}

.bg-dark__primaryfixeddim {
  background-color: var(--dark__primaryfixeddim);
  color: var(--dark__onprimaryfixedvariant);
}

.bg-dark__onprimaryfixed {
  background-color: var(--dark__onprimaryfixed);
  color: var(--dark__primaryfixed);
}

.bg-dark__onprimaryfixedvariant {
  background-color: var(--dark__onprimaryfixedvariant);
  color: var(--dark__primaryfixed);
}

.bg-dark__secondaryfixed {
  background-color: var(--dark__secondaryfixed);
  color: var(--dark__onsecondary);
}

.bg-dark__secondaryfixeddim {
  background-color: var(--dark__secondaryfixeddim);
  color: var(--dark__onsecondaryfixed);
}

.bg-dark__onsecondaryfixed {
  background-color: var(--dark__onsecondaryfixed);
  color: var(--dark__secondaryfixed);
}

.bg-dark__onsecondaryfixedvariant {
  background-color: var(--dark__onsecondaryfixedvariant);
  color: var(--dark__secondaryfixed);
}

.bg-dark__tertiaryfixed {
  background-color: var(--dark__tertiaryfixed);
  color: var(--dark__ontertiaryfixed);
}

.bg-dark__tertiaryfixeddim {
  background-color: var(--dark__tertiaryfixeddim);
  color: var(--dark__ontertiaryfixedvariant);
}

.bg-dark__ontertiaryfixed {
  background-color: var(--dark__ontertiaryfixed);
  color: var(--dark__tertiaryfixed);
}

.bg-dark__ontertiaryfixedvariant {
  background-color: var(--dark__ontertiaryfixedvariant);
  color: var(--dark__tertiaryfixed);
}

.bg-dark__surfacedim {
  background-color: var(--dark__surfacedim);
  color: var(--dark__onsurface);
}

.bg-dark__surfacebright {
  background-color: var(--dark__surfacebright);
  color: var(--dark__onsurface);
}

.bg-dark__surfacecontainerlowest,
.bg-dark__surfacecontainerlow {
  background-color: var(--dark__surfacecontainerlowest);
  color: var(--dark__onsurface);
}

.bg-dark__surfacecontainer {
  background-color: var(--dark__surfacecontainer);
  color: var(--dark__onsurface);
}

.bg-dark__surfacecontainerhigh {
  background-color: var(--dark__surfacecontainerhigh);
  color: var(--dark__onsurface);
}

.bg-dark__surfacecontainerhighest {
  background-color: var(--dark__surfacecontainerhighest);
  color: var(--dark__onsurface);
}

.bg__transparent {
  background-color: rgba(0, 0, 0, 0);
}
