@import "globals.css";

.color-light__primary_mms {
  color: var(--light__primary_mms);
}

.color-light__onprimary_mms {
  color: var(--light__onprimary_mms);
}

.color-light__primarycontainer_mms {
  color: var(--light__primarycontainer_mms);
}

.color-light__onprimarycontainer_mms {
  color: var(--light__onprimarycontainer_mms);
}

.color-light__secondary_mms {
  color: var(--light__secondary_mms);
}

.color-light__onsecondary_mms {
  color: var(--light__onsecondary_mms);
}

.color-light__secondarycontainer_mms {
  color: var(--light__secondarycontainer_mms);
}

.color-light__onsecondarycontainer_mms {
  color: var(--light__onsecondarycontainer_mms);
}

.color-light__tertiary_mms {
  color: var(--light__tertiary_mms);
}

.color-light__ontertiary_mms {
  color: var(--light__ontertiary_mms);
}

.color-light__tertiarycontainer_mms {
  color: var(--light__tertiarycontainer_mms);
}

.color-light__ontertiarycontainer_mms {
  color: var(--light__ontertiarycontainer_mms);
}

.color-light__error_mms {
  color: var(--light__error_mms);
}

.color-light__onerror_mms {
  color: var(--light__onerror_mms);
}

.color-light__errorcontainer_mms {
  color: var(--light__errorcontainer_mms);
}

.color-light__onerrorcontainer_mms {
  color: var(--light__onerrorcontainer_mms);
}

.color-light__background_mms {
  color: var(--light__background_mms);
}

.color-light__onbackground_mms {
  color: var(--light__onbackground_mms);
}

.color-light__surface_mms {
  color: var(--light__surface_mms);
}

.color-light__onsurface_mms {
  color: var(--light__onsurface_mms);
}

.color-light__surfacevariant_mms {
  color: var(--light__surfacevariant_mms);
}

.color-light__onsurfacevariant_mms {
  color: var(--light__onsurfacevariant_mms);
}

.color-light__outline_mms {
  color: var(--light__outline_mms);
}

.color-light__outlinevariant_mms {
  color: var(--light__outlinevariant_mms);
}

.color-light__shadow_mms {
  color: var(--light__shadow_mms);
}

.color-light__scrim_mms {
  color: var(--light__scrim_mms);
}

.color-light__inversesurface_mms {
  color: var(--light__inversesurface_mms);
}

.color-light__inverseonsurface_mms {
  color: var(--light__inverseonsurface_mms);
}

.color-light__inverseprimary_mms {
  color: var(--light__inverseprimary_mms);
}

.color-light__success_mms {
  color: var(--light__success_mms);
}

.color-light__successcontainer_mms {
  color: var(--light__successcontainer_mms);
}

.color-light__onsuccess_mms {
  color: var(--light__onsuccess_mms);
}

.color-light__onsuccesscontainer_mms {
  color: var(--light__onsuccesscontainer_mms);
}

.color-light__warning_mms {
  color: var(--light__warning_mms);
}

.color-light__warningcontainer_mms {
  color: var(--light__warningcontainer_mms);
}

.color-light__onwarning_mms {
  color: var(--light__onwarning_mms);
}

.color-light__onwarningcontainer_mms {
  color: var(--light__onwarningcontainer_mms);
}

.color-light__info_mms {
  color: var(--light__info_mms);
}

.color-light__infocontainer_mms {
  color: var(--light__infocontainer_mms);
}

.color-light__oninfo_mms {
  color: var(--light__oninfo_mms);
}

.color-light__oninfocontainer_mms {
  color: var(--light__oninfocontainer_mms);
}

.color-light__primaryfixed_mms {
  color: var(--light__primaryfixed_mms);
}

.color-light__primaryfixeddim_mms {
  color: var(--light__primaryfixeddim_mms);
}

.color-light__onprimaryfixed_mms {
  color: var(--light__onprimaryfixed_mms);
}

.color-light__onprimaryfixedvariant_mms {
  color: var(--light__onprimaryfixedvariant_mms);
}

.color-light__secondaryfixed_mms {
  color: var(--light__secondaryfixed_mms);
}

.color-light__secondaryfixeddim_mms {
  color: var(--light__secondaryfixeddim_mms);
}

.color-light__onsecondaryfixed_mms {
  color: var(--light__onsecondaryfixed_mms);
}

.color-light__onsecondaryfixedvariant_mms {
  color: var(--light__onsecondaryfixedvariant_mms);
}

.color-light__tertiaryfixed_mms {
  color: var(--light__tertiaryfixed_mms);
}

.color-light__tertiaryfixeddim_mms {
  color: var(--light__tertiaryfixeddim_mms);
}

.color-light__ontertiaryfixed_mms {
  color: var(--light__ontertiaryfixed_mms);
}

.color-light__ontertiaryfixedvariant_mms {
  color: var(--light__ontertiaryfixedvariant_mms);
}

.color-light__surfacedim_mms {
  color: var(--light__surfacedim_mms);
}

.color-light__surfacebright_mms {
  color: var(--light__surfacebright_mms);
}

.color-light__surfacecontainerlowest_mms {
  color: var(--light__surfacecontainerlowest_mms);
}

.color-light__surfacecontainerlow_mms {
  color: var(--light__surfacecontainerlow_mms);
}

.color-light__surfacecontainer_mms {
  color: var(--light__surfacecontainer_mms);
}

.color-light__surfacecontainerhigh_mms {
  color: var(--light__surfacecontainerhigh_mms);
}

.color-light__surfacecontainerhighest_mms {
  color: var(--light__surfacecontainerhighest_mms);
}

.color-dark__primary_mms {
  color: var(--dark__primary_mms);
}

.color-dark__onprimary_mms {
  color: var(--dark__onprimary_mms);
}

.color-dark__primarycontainer_mms {
  color: var(--dark__primarycontainer_mms);
}

.color-dark__onprimarycontainer_mms {
  color: var(--dark__onprimarycontainer_mms);
}

.color-dark__secondary_mms {
  color: var(--dark__secondary_mms);
}

.color-dark__onsecondary_mms {
  color: var(--dark__onsecondary_mms);
}

.color-dark__secondarycontainer_mms {
  color: var(--dark__secondarycontainer_mms);
}

.color-dark__onsecondarycontainer_mms {
  color: var(--dark__onsecondarycontainer_mms);
}

.color-dark__tertiary_mms {
  color: var(--dark__tertiary_mms);
}

.color-dark__ontertiary_mms {
  color: var(--dark__ontertiary_mms);
}

.color-dark__tertiarycontainer_mms {
  color: var(--dark__tertiarycontainer_mms);
}

.color-dark__ontertiarycontainer_mms {
  color: var(--dark__ontertiarycontainer_mms);
}

.color-dark__error_mms {
  color: var(--dark__error_mms);
}

.color-dark__onerror_mms {
  color: var(--dark__onerror_mms);
}

.color-dark__errorcontainer_mms {
  color: var(--dark__errorcontainer_mms);
}

.color-dark__onerrorcontainer_mms {
  color: var(--dark__onerrorcontainer_mms);
}

.color-dark__background_mms {
  color: var(--dark__background_mms);
}

.color-dark__onbackground_mms {
  color: var(--dark__onbackground_mms);
}

.color-dark__surface_mms {
  color: var(--dark__surface_mms);
}

.color-dark__onsurface_mms {
  color: var(--dark__onsurface_mms);
}

.color-dark__surfacevariant_mms {
  color: var(--dark__surfacevariant_mms);
}

.color-dark__onsurfacevariant_mms {
  color: var(--dark__onsurfacevariant_mms);
}

.color-dark__outline_mms {
  color: var(--dark__outline_mms);
}

.color-dark__outlinevariant_mms {
  color: var(--dark__outlinevariant_mms);
}

.color-dark__shadow_mms {
  color: var(--dark__shadow_mms);
}

.color-dark__scrim_mms {
  color: var(--dark__scrim_mms);
}

.color-dark__inversesurface_mms {
  color: var(--dark__inversesurface_mms);
}

.color-dark__inverseonsurface_mms {
  color: var(--dark__inverseonsurface_mms);
}

.color-dark__inverseprimary_mms {
  color: var(--dark__inverseprimary_mms);
}

.color-dark__success_mms {
  color: var(--dark__success_mms);
}

.color-dark__successcontainer_mms {
  color: var(--dark__successcontainer_mms);
}

.color-dark__onsuccess_mms {
  color: var(--dark__onsuccess_mms);
}

.color-dark__onsuccesscontainer_mms {
  color: var(--dark__onsuccesscontainer_mms);
}

.color-dark__warning_mms {
  color: var(--dark__warning_mms);
}

.color-dark__warningcontainer_mms {
  color: var(--dark__warningcontainer_mms);
}

.color-dark__onwarning_mms {
  color: var(--dark__onwarning_mms);
}

.color-dark__onwarningcontainer_mms {
  color: var(--dark__onwarningcontainer_mms);
}

.color-dark__info_mms {
  color: var(--dark__info_mms);
}

.color-dark__infocontainer_mms {
  color: var(--dark__infocontainer_mms);
}

.color-dark__oninfo_mms {
  color: var(--dark__oninfo_mms);
}

.color-dark__oninfocontainer_mms {
  color: var(--dark__oninfocontainer_mms);
}

.color-dark__primaryfixed_mms {
  color: var(--dark__primaryfixed_mms);
}

.color-dark__primaryfixeddim_mms {
  color: var(--dark__primaryfixeddim_mms);
}

.color-dark__onprimaryfixed_mms {
  color: var(--dark__onprimaryfixed_mms);
}

.color-dark__onprimaryfixedvariant_mms {
  color: var(--dark__onprimaryfixedvariant_mms);
}

.color-dark__secondaryfixed_mms {
  color: var(--dark__secondaryfixed_mms);
}

.color-dark__secondaryfixeddim_mms {
  color: var(--dark__secondaryfixeddim_mms);
}

.color-dark__onsecondaryfixed_mms {
  color: var(--dark__onsecondaryfixed_mms);
}

.color-dark__onsecondaryfixedvariant_mms {
  color: var(--dark__onsecondaryfixedvariant_mms);
}

.color-dark__tertiaryfixed_mms {
  color: var(--dark__tertiaryfixed_mms);
}

.color-dark__tertiaryfixeddim_mms {
  color: var(--dark__tertiaryfixeddim_mms);
}

.color-dark__ontertiaryfixed_mms {
  color: var(--dark__ontertiaryfixed_mms);
}

.color-dark__ontertiaryfixedvariant_mms {
  color: var(--dark__ontertiaryfixedvariant_mms);
}

.color-dark__surfacedim_mms {
  color: var(--dark__surfacedim_mms);
}

.color-dark__surfacebright_mms {
  color: var(--dark__surfacebright_mms);
}

.color-dark__surfacecontainerlowest_mms {
  color: var(--dark__surfacecontainerlowest_mms);
}

.color-dark__surfacecontainerlow_mms {
  color: var(--dark__surfacecontainerlow_mms);
}

.color-dark__surfacecontainer_mms {
  color: var(--dark__surfacecontainer_mms);
}

.color-dark__surfacecontainerhigh_mms {
  color: var(--dark__surfacecontainerhigh_mms);
}

.color-dark__surfacecontainerhighest_mms {
  color: var(--dark__surfacecontainerhighest_mms);
}
