@import "globals.css";

.color-light__primary {
  color: var(--light__primary);
}

.color-light__onprimary {
  color: var(--light__onprimary);
}

.color-light__primarycontainer {
  color: var(--light__primarycontainer);
}

.color-light__onprimarycontainer {
  color: var(--light__onprimarycontainer);
}

.color-light__secondary {
  color: var(--light__secondary);
}

.color-light__onsecondary {
  color: var(--light__onsecondary);
}

.color-light__secondarycontainer {
  color: var(--light__secondarycontainer);
}

.color-light__onsecondarycontainer {
  color: var(--light__onsecondarycontainer);
}

.color-light__tertiary {
  color: var(--light__tertiary);
}

.color-light__ontertiary {
  color: var(--light__ontertiary);
}

.color-light__tertiarycontainer {
  color: var(--light__tertiarycontainer);
}

.color-light__ontertiarycontainer {
  color: var(--light__ontertiarycontainer);
}

.color-light__error {
  color: var(--light__error);
}

.color-light__onerror {
  color: var(--light__onerror);
}

.color-light__errorcontainer {
  color: var(--light__errorcontainer);
}

.color-light__onerrorcontainer {
  color: var(--light__onerrorcontainer);
}

.color-light__background {
  color: var(--light__background);
}

.color-light__onbackground {
  color: var(--light__onbackground);
}

.color-light__surface {
  color: var(--light__surface);
}

.color-light__onsurface {
  color: var(--light__onsurface);
}

.color-light__surfacevariant {
  color: var(--light__surfacevariant);
}

.color-light__onsurfacevariant {
  color: var(--light__onsurfacevariant);
}

.color-light__outline {
  color: var(--light__outline);
}

.color-light__outlinevariant {
  color: var(--light__outlinevariant);
}

.color-light__shadow {
  color: var(--light__shadow);
}

.color-light__scrim {
  color: var(--light__scrim);
}

.color-light__inversesurface {
  color: var(--light__inversesurface);
}

.color-light__inverseonsurface {
  color: var(--light__inverseonsurface);
}

.color-light__inverseprimary {
  color: var(--light__inverseprimary);
}

.color-light__success {
  color: var(--light__success);
}

.color-light__successcontainer {
  color: var(--light__successcontainer);
}

.color-light__onsuccess {
  color: var(--light__onsuccess);
}

.color-light__onsuccesscontainer {
  color: var(--light__onsuccesscontainer);
}

.color-light__warning {
  color: var(--light__warning);
}

.color-light__warningcontainer {
  color: var(--light__warningcontainer);
}

.color-light__onwarning {
  color: var(--light__onwarning);
}

.color-light__onwarningcontainer {
  color: var(--light__onwarningcontainer);
}

.color-light__info {
  color: var(--light__info);
}

.color-light__infocontainer {
  color: var(--light__infocontainer);
}

.color-light__oninfo {
  color: var(--light__oninfo);
}

.color-light__oninfocontainer {
  color: var(--light__oninfocontainer);
}

.color-light__primaryfixed {
  color: var(--light__primaryfixed);
}

.color-light__primaryfixeddim {
  color: var(--light__primaryfixeddim);
}

.color-light__onprimaryfixed {
  color: var(--light__onprimaryfixed);
}

.color-light__onprimaryfixedvariant {
  color: var(--light__onprimaryfixedvariant);
}

.color-light__secondaryfixed {
  color: var(--light__secondaryfixed);
}

.color-light__secondaryfixeddim {
  color: var(--light__secondaryfixeddim);
}

.color-light__onsecondaryfixed {
  color: var(--light__onsecondaryfixed);
}

.color-light__onsecondaryfixedvariant {
  color: var(--light__onsecondaryfixedvariant);
}

.color-light__tertiaryfixed {
  color: var(--light__tertiaryfixed);
}

.color-light__tertiaryfixeddim {
  color: var(--light__tertiaryfixeddim);
}

.color-light__ontertiaryfixed {
  color: var(--light__ontertiaryfixed);
}

.color-light__ontertiaryfixedvariant {
  color: var(--light__ontertiaryfixedvariant);
}

.color-light__surfacedim {
  color: var(--light__surfacedim);
}

.color-light__surfacebright {
  color: var(--light__surfacebright);
}

.color-light__surfacecontainerlowest {
  color: var(--light__surfacecontainerlowest);
}

.color-light__surfacecontainerlow {
  color: var(--light__surfacecontainerlow);
}

.color-light__surfacecontainer {
  color: var(--light__surfacecontainer);
}

.color-light__surfacecontainerhigh {
  color: var(--light__surfacecontainerhigh);
}

.color-light__surfacecontainerhighest {
  color: var(--light__surfacecontainerhighest);
}

.color-dark__primary {
  color: var(--dark__primary);
}

.color-dark__onprimary {
  color: var(--dark__onprimary);
}

.color-dark__primarycontainer {
  color: var(--dark__primarycontainer);
}

.color-dark__onprimarycontainer {
  color: var(--dark__onprimarycontainer);
}

.color-dark__secondary {
  color: var(--dark__secondary);
}

.color-dark__onsecondary {
  color: var(--dark__onsecondary);
}

.color-dark__secondarycontainer {
  color: var(--dark__secondarycontainer);
}

.color-dark__onsecondarycontainer {
  color: var(--dark__onsecondarycontainer);
}

.color-dark__tertiary {
  color: var(--dark__tertiary);
}

.color-dark__ontertiary {
  color: var(--dark__ontertiary);
}

.color-dark__tertiarycontainer {
  color: var(--dark__tertiarycontainer);
}

.color-dark__ontertiarycontainer {
  color: var(--dark__ontertiarycontainer);
}

.color-dark__error {
  color: var(--dark__error);
}

.color-dark__onerror {
  color: var(--dark__onerror);
}

.color-dark__errorcontainer {
  color: var(--dark__errorcontainer);
}

.color-dark__onerrorcontainer {
  color: var(--dark__onerrorcontainer);
}

.color-dark__background {
  color: var(--dark__background);
}

.color-dark__onbackground {
  color: var(--dark__onbackground);
}

.color-dark__surface {
  color: var(--dark__surface);
}

.color-dark__onsurface {
  color: var(--dark__onsurface);
}

.color-dark__surfacevariant {
  color: var(--dark__surfacevariant);
}

.color-dark__onsurfacevariant {
  color: var(--dark__onsurfacevariant);
}

.color-dark__outline {
  color: var(--dark__outline);
}

.color-dark__outlinevariant {
  color: var(--dark__outlinevariant);
}

.color-dark__shadow {
  color: var(--dark__shadow);
}

.color-dark__scrim {
  color: var(--dark__scrim);
}

.color-dark__inversesurface {
  color: var(--dark__inversesurface);
}

.color-dark__inverseonsurface {
  color: var(--dark__inverseonsurface);
}

.color-dark__inverseprimary {
  color: var(--dark__inverseprimary);
}

.color-dark__success {
  color: var(--dark__success);
}

.color-dark__successcontainer {
  color: var(--dark__successcontainer);
}

.color-dark__onsuccess {
  color: var(--dark__onsuccess);
}

.color-dark__onsuccesscontainer {
  color: var(--dark__onsuccesscontainer);
}

.color-dark__warning {
  color: var(--dark__warning);
}

.color-dark__warningcontainer {
  color: var(--dark__warningcontainer);
}

.color-dark__onwarning {
  color: var(--dark__onwarning);
}

.color-dark__onwarningcontainer {
  color: var(--dark__onwarningcontainer);
}

.color-dark__info {
  color: var(--dark__info);
}

.color-dark__infocontainer {
  color: var(--dark__infocontainer);
}

.color-dark__oninfo {
  color: var(--dark__oninfo);
}

.color-dark__oninfocontainer {
  color: var(--dark__oninfocontainer);
}

.color-dark__primaryfixed {
  color: var(--dark__primaryfixed);
}

.color-dark__primaryfixeddim {
  color: var(--dark__primaryfixeddim);
}

.color-dark__onprimaryfixed {
  color: var(--dark__onprimaryfixed);
}

.color-dark__onprimaryfixedvariant {
  color: var(--dark__onprimaryfixedvariant);
}

.color-dark__secondaryfixed {
  color: var(--dark__secondaryfixed);
}

.color-dark__secondaryfixeddim {
  color: var(--dark__secondaryfixeddim);
}

.color-dark__onsecondaryfixed {
  color: var(--dark__onsecondaryfixed);
}

.color-dark__onsecondaryfixedvariant {
  color: var(--dark__onsecondaryfixedvariant);
}

.color-dark__tertiaryfixed {
  color: var(--dark__tertiaryfixed);
}

.color-dark__tertiaryfixeddim {
  color: var(--dark__tertiaryfixeddim);
}

.color-dark__ontertiaryfixed {
  color: var(--dark__ontertiaryfixed);
}

.color-dark__ontertiaryfixedvariant {
  color: var(--dark__ontertiaryfixedvariant);
}

.color-dark__surfacedim {
  color: var(--dark__surfacedim);
}

.color-dark__surfacebright {
  color: var(--dark__surfacebright);
}

.color-dark__surfacecontainerlowest {
  color: var(--dark__surfacecontainerlowest);
}

.color-dark__surfacecontainerlow {
  color: var(--dark__surfacecontainerlow);
}

.color-dark__surfacecontainer {
  color: var(--dark__surfacecontainer);
}

.color-dark__surfacecontainerhigh {
  color: var(--dark__surfacecontainerhigh);
}

.color-dark__surfacecontainerhighest {
  color: var(--dark__surfacecontainerhighest);
}
